@font-face {
  font-family: "Droid Sans";
  src: url("/static/DroidSans.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Droid Sans";
  src: url("/static/DroidSans-Bold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Droid Sans Mono";
  src: url("/static/DroidSansMono.ttf");
  font-style: normal;
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#page-header {
  background-color: #1d785f;
  height: 40px;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

#page-header h1 {
  display: block;
  width: 160px;
  height: 40px;
  background-image: url("/static/logo-white.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -2016px;
  overflow: hidden;
  margin: 0;
}

.inner-wrapper {
  width: 84%;
  margin: 0 auto;
}

#page-content h1 {
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 64px;
  font-size: 24px;
  font-weight: 400;
  color: #1d1d1d;
}

#page-content h2 {
  margin: 0;
  line-height: 48px;
  font-size: 16px;
  font-weight: 400;
  color: #1d1d1d;
}

#page-content ul {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  list-style-type: none;
}

#page-content ul li {
  height: 24px;
  line-height: 24px;
}

#page-content ul li a {
  display: block;
  line-height: 24px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Droid Sans Mono";
  color: #1d785f;
}

#page-content ul li a:hover,
#page-content ul li a:active {
  opacity: 0.5;
  text-shadow: 0px 1px 0px #e9f1ef;
}
